@use "../../global" as global;

@include global.min-screen(global.$breakpoint_sp-1) {
    .l-headerSP {
        display: none;
    }
}

.l-headerSP__logo {
    top: 10px;
    left: 20px;
    position: absolute;
    z-index: 100;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.36, 0.63);
    img {
        width: auto;
        height: 40px;
        display: block;
    }
}

/*let your hair down and show the goods*/

.l-headerSP__bar {
    width: 100%;
    height: 60px;
    display: block;
    background: #000;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition-delay: 400ms;
}

.l-headerSP__bar.shownav {
    height: 490px;
    z-index: 100;
    position: fixed;
}

nav {
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
}

.dc-menu-trigger {
    position: absolute;
    top: 0px;
    right: 25px;
    display: block;
    width: 28px;
    height: 60px;
    cursor: pointer;
    z-index: 30;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    margin-top: -2px;
    background-color: #fff;
    font-size: 0px;
    user-select: none;
    transition: background-color 0.5s;
}

.dc-menu-open .dc-menu-trigger span {
    background-color: transparent;
}

.dc-menu-open .l-headerSP__logo {
    left: 72%;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-open .dc-menu-trigger {
    right: 88%;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span:before,
.dc-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span:before {
    transform: translateY(-250%);
}

.dc-menu-trigger span:after {
    transform: translateY(250%);
}

/*Just bust a move*/
.dc-menu-open .dc-menu-trigger span:before {
    transform: translateY(0) rotate(45deg);
}

.dc-menu-open .dc-menu-trigger span:after {
    transform: translateY(0) rotate(-45deg);
}

.dc-menu-close .dc-menu-trigger:before {
    animation: plusVertical 0.3s ease forwards;
}

.dc-menu-close .dc-menu-trigger:after {
    animation: plusHorizontal 0.3s ease forwards;
}

.menu-overlay {
    z-index: 10;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: none;
}

.menu-overlay.open {
    background: #000;
    height: 100%;
}

.menu-overlay ul {
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    top: -40%;
    left: 0;
    width: 100%;
    padding: 0;
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    transform: perspective(600px) rotateX(20deg) rotateY(-20deg);
}

.menu-overlay ul li {
    text-align: center;
    font-size: 2rem;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 600;
}

.menu-overlay ul li:after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #333;
    margin: 10px auto 0 auto;
}

.menu-overlay ul li:hover {
    color: #eee;
    cursor: pointer;
}

.menu-overlay.open ul {
    top: 40px;
    left: 0;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    transform: perspective(600px) rotateX(0deg) rotateY(0deg);
    transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    transition-delay: 400ms;
}

.l-SPMenu__item {
    font-weight: 600;
}
