@use "../../../global" as global;

.p-frontLogo {
    padding-top: 50px;
    background: #fff;
    position: relative;
    z-index: 3;
    @include global.max-screen(global.$breakpoint_sp) {
        padding: 37px 0 0 0;
    }
}

.p-frontLogo__listWrap {
}

.p-frontLogo__list {
}
